<%- include('../partials/header')%>
<div class="wrapper">
<div class="div-forgot-password">
    <a href="#" onclick="history.go(-1)" class="back">
          <span class="arrow-left"> <i class="fa-solid fa-arrow-left"></i></span
          >Back</a
        >
    <h2 class="medium-title">Forgot your password?</h2>
    <p>Please enter your email address below to receive a password reset link.</p>
            <div class="div-email">
          <label for="email" class="label-email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Start typing..."
          />
        </div>
        <div class="password-submit">
            <button type="submit" class="signup-button">Submit</button>
        </div>
        
</div>
</div>
<%- include('../partials/footer')%>